<p>Does this info look correct to you?</p>
<p>Name: <%= @name%></p>
<p>Last Name: <%= @last_name%></p>
<p>Address: <%= @address%></p>
<p>City: <%= @city%></p>
<p>State: <%= @state%></p>
<p>Zip: <%= @zip%></p>
<p>Birthdate: <%= @birthdate%></p>
